//  media queries
$phone-small-up: "(min-width: 320px)";
$phone-large-up: "(min-width: 576px)";
$tablet-portrait-up: "(min-width: 768px)";
$tablet-landscape-up: "(min-width: 992px)";
$monitor-small-up: "(min-width: 1200px)";
$monitor-med-up: "(min-width: 1440px)";
